.input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  text-align: center;
}

.label {
  font-size: x-large;
}

.errortext {
  font-size: small;
  align-text: center;
  color: red;
}

.mainContrainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelreview {
  padding: 10px;
}
